main {
  .services {
    .blocks {
      a {
        border-radius: 17px;
        background-color: #e47203;
        padding: 10px 35px;
        color: #ffffff;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}