@import '../componets/buttons';

@media screen and (min-width: 320px) and (max-width: 374px) {

  /*===header===*/

  header {

    div.logo-header {

      div {
        &.list {

          ul {
            margin-left: -25px;
          }
        }

        &.phone {
          p {
            &:first-child {
              font-size: 40px;
            }
          }
        }
      }
    }

    div.kitchen {
      background: url("../images/kitchen.png") no-repeat -1490px;

      img {
        margin-left: -443px;
        float: left;
        margin-top: 90px;
        width: 245%;
      }

      .form {
        margin-top: 0;
        padding: 25px 25px 20px;
        display: inline-block;
        box-shadow: 0 6px 6px rgba(45, 53, 50, 0);
        background-color: #ffffff;
        position: absolute;
        top: 135%;
        right: 16px;
        opacity: 1;

        p {
          color: #231f20;
          font: 500 18px Roboto, sans-serif;

          &:last-child {
            margin-top: 35px;
            color: #231f20;
            font: 300 10px Roboto, sans-serif;
          }
        }
      }
    }
  }

  /*===main===*/

  .services {

    height: 990px;
    background-color: #fcb040;
    margin-bottom: 50px;

    .blocks {
      div {
        width: 48%;
        float: left;
        padding: 20px 0 30px;
        border-radius: 10px;
        border: 1px solid #e47203;
        background-color: #fff;
        display: inline-block;
        margin-top: 15px;
        margin-left: 5px;

        img {
          width: 50%;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
          color: #231f20;
          font-family: Roboto, sans-serif;
          font-size: 10px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
  }

  /*===footer===*/

  footer {
    height: 550px;
    background-color: #231f20;

    div {
      .text {
        p {
          span {
            padding-left: 0;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 424px){

  /*===header===*/

  header {

    div.logo-header {

      div {
        &.list {

          ul {
            margin-left: -25px;
          }
        }

        &.phone {
          p {
            &:first-child {
              font-size: 40px;
            }
          }
        }
      }
    }

    div.kitchen {
      background: url("../images/kitchen.png") no-repeat -1490px;

      img {
        margin-left: -443px;
        float: left;
        margin-top: 92px;
        width: 205%;
      }

      .form {
        margin-top: 0;
        padding: 25px 25px 20px;
        display: inline-block;
        box-shadow: 0 6px 6px rgba(45, 53, 50, 0);
        background-color: #ffffff;
        position: absolute;
        top: 135%;
        right: 45px;
        opacity: 1;

        p {
          color: #231f20;
          font: 500 18px Roboto, sans-serif;

          &:last-child {
            margin-top: 35px;
            color: #231f20;
            font: 300 10px Roboto, sans-serif;
          }
        }
      }
    }
  }

  /*===main===*/

  .services {

    height: 1000px;
    background-color: #fcb040;
    margin-bottom: 50px;

    h3 {
      padding-top: 10px;
    }

    .blocks {
      div {
        width: 48%;
        float: left;
        padding: 20px 0 30px;
        border-radius: 10px;
        border: 1px solid #e47203;
        background-color: #fff;
        display: inline-block;
        margin-top: 15px;
        margin-left: 5px;

        img {
          width: 50%;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
          color: #231f20;
          font-family: Roboto, sans-serif;
          font-size: 10px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
  }

  /*===footer===*/

  footer {
    height: 550px;
    background-color: #231f20;

    div {
      .text {
        p {
          span {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 767px){

  /*===header===*/

  header {

    div.logo-header {

      div {
        &.list {

          ul {
            margin-left: -25px;
          }
        }

        &.phone {
          p {
            &:first-child {
              font-size: 40px;
            }
          }
        }
      }
    }

    div.kitchen {
      background: url("../images/kitchen.png") no-repeat -1490px;

      img {
        margin-left: -395px;
        float: left;
        margin-top: 98px;
        width: 176%;
      }

      .form {
        margin-top: 0;
        padding: 25px 25px 20px;
        display: inline-block;
        box-shadow: 0 6px 6px rgba(45, 53, 50, 0);
        background-color: #ffffff;
        position: absolute;
        top: 135%;
        right: 75px;
        opacity: 1;

        p {
          color: #231f20;
          font: 500 18px Roboto, sans-serif;

          &:last-child {
            margin-top: 35px;
            color: #231f20;
            font: 300 10px Roboto, sans-serif;
          }
        }
      }
    }
  }

  /*===main===*/

  .services {

    height: 1100px;
    background-color: #fcb040;
    margin-bottom: 50px;

    h3 {
      padding-top: 10px;
    }

    .blocks {
      div {
        width: 48%;
        float: left;
        padding: 20px 0 30px;
        border-radius: 10px;
        border: 1px solid #e47203;
        background-color: #fff;
        display: inline-block;
        margin-top: 15px;
        margin-left: 5px;

        img {
          width: 50%;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
          color: #231f20;
          font-family: Roboto, sans-serif;
          font-size: 10px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
  }

  /*===footer===*/

  footer {
    height: 550px;
    background-color: #231f20;

    div {
      .text {
        p {
          span {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 960px){

  /*===header===*/

  header {

    div.logo-header {

      div {
        &.logo {
          float: left;
          display: inline-block;

          img {
            width: 50%;
          }
          p {
            margin-top: 10px;
            color: #231f20;
            font: 300 22px Roboto, sans-serif;

            span {
              margin-left: 70px;
            }
          }
        }

        &.list {

          ul {
            margin-left: -25px;
          }
        }

        &.phone {
          float: none;
          p {
            &:first-child {
              font-size: 40px;
            }
          }
        }
      }
    }

    div.kitchen {
      background: url("../images/kitchen.png") no-repeat -1040px;

      img {
        float: left;
        margin-top: 71px;
        width: 102%;
      }

      .form {
        margin-top: 0;
        padding: 25px 25px 20px;
        display: inline-block;
        box-shadow: 0 6px 6px rgba(45, 53, 50, 0);
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        right: 30%;
        opacity: 1;

        p {
          color: #231f20;
          font: 500 18px Roboto, sans-serif;

          &:last-child {
            margin-top: 35px;
            color: #231f20;
            font: 300 10px Roboto, sans-serif;
          }
        }
      }
    }
  }

  /*===main===*/

  .services {

    height: 900px;
    background-color: #fcb040;
    margin-bottom: 50px;

    h3 {
      padding-top: 10px;
    }

    .blocks {
      div {
        width: 32%;
        float: none;
        padding: 20px 0 30px;
        border-radius: 10px;
        border: 1px solid #e47203;
        background-color: #fff;
        display: inline-block;
        margin-top: 15px;
        margin-left: 5px;

        img {
          width: 50%;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
          color: #231f20;
          font-family: Roboto, sans-serif;
          font-size: 10px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
  }

  /*===footer===*/

  footer {
    height: 280px;
    background-color: #231f20;

    div {
      .text {
        p {
          span {
            padding-left: 0;
          }
        }
      }
    }
  }
}