.master {
  margin: 50px 0;

  h3 {
    color: #231f20;
    font: 500 24px/22px Roboto, sans-serif;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 25px;
  }

  img {
    float: right;
    margin: 0 7px 7px 45px;
  }

  p {
    color: #666464;
    font: 400 14px Roboto, sans-serif;
    text-align: left;
  }
}