footer {
  height: 250px;
  background-color: #231f20;

  nav {
    &.navbar, .navbar-default {
      min-height: 0;
      margin-bottom: 0;
      border: #231f20;
      border-radius: 0;
      background-color: #231f20;

      ul {
        &.nav, .navbar-nav {
          li {
            a {
              color: #ffffff;
              font: 300 15px Roboto, sans-serif;

              &:hover {
                color: #e47203;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  div.line {
    border-bottom: 1px solid #ffffff;
    background-color: #d4e8ef;
    opacity: 0.2;
    margin-bottom: 25px;
  }

  div {
    .logo-footer {
      float: left;
      display: inline-block;
    }

    .text {
      display: inline-block;

      p {
        color: #ffffff;
        font: 300 28px Roboto, sans-serif;
        text-align: left;

        span {
          padding-left: 75px;
        }
      }
    }

    .phone {
      float: right;
      display: inline-block;

      p {
        text-align: right;
        color: #ffffff;
        font: 300 16px Roboto, sans-serif;

        span {
          color: #fcb040;
          font-family: "Geo Slb 712 Medium CBT", sans-serif;
          font-size: 18px;
          font-weight: 400;
        }

        &:first-child {
          color: #ffffff;
          font-family: "Geo Slb 712 Medium CBT", sans-serif;
          font-size: 46px;
          font-weight: 400;
        }
      }
    }

  }
}